.card {
  top: 0;
  position: relative;
  display: inline-flex;
  width: 160px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 900;
  text-shadow: 2px 2px black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin-right: -55px;
  overflow: hidden;
  background: #eee;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  transform: rotate(-2deg);
}
.card:hover {
  z-index: 1;
  top: -35px;
  transform: rotate(1deg);
}
.card > span {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.green,
.red,
.blue,
.yellow {
  font-size: 90px;
}
.green {
  color: green;
}
.red {
  color: darkred;
}
.blue {
  color: blue;
}
.yellow {
  color: yellow;
}
.special {
  font-size: 64px;
  background: #aaa;
  color: white;
}
.unknown {
  visibility: hidden;
}
#myCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#changeColorMenu {
  visibility: hidden;
  height: 150px;
}
#changeColorMenu.active {
  visibility: visible;
}
#cardOnTopContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nextPlayer {
  padding: 20px;
  margin-top: 20px;
  background-color: #055FD4;
  color: white;
  font-weight: bold;
  font-size: 26px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0px grey;
  border: 2px solid lightgray;
}